{% extends "base.html" %}
{% block content %}

<div class="container">
    <h4 class="stroke">My Bookings:</h4>
    <div class="row">
        {% for booking in bookings %}
        <div class="col-md-5">
            <div class="card mb-5">
                <div class="card-body">
                    <h4 class='card-title text-center'>{{ booking.full_name }}</h4>
                    <h6 class='card-title text-center'>{{ booking.occasion }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ booking.date_of_booking }} at {{ booking.get_time_display }}</h6>
                    <div class='card-text'>
                        <p>Number of Guests: {{ booking.num_of_guests }}</p>
                        <p>Notes: {{ booking.notes }}</p>                                                     
                    </div>
                    <a href="/edit_booking/{{booking.id}}" class="btn btn-success">Edit</a>
                    <a href="/delete_booking/{{booking.id}}" class="btn btn-success">Delete</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

{%endblock%}