{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="col-md-4 mx-auto mt-5">
        <h4 class="stroke">Delete Booking</h4>
        <p>Are you sure you want to delete the booking for {{ booking.full_name }} on {{ booking.date_of_booking }} at {{ booking.get_time_display }}?</p>
        <form method="POST" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Confirm Delete</button>
            <a href="{% url 'bookings_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}